@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<p>
    sunshine woodworkz<br />
    Kerala<br />
    india<br />
    <strong>Phone :</strong>+35385585858<br />
    <strong>Support:</strong><a href="sunshinewoodworks@gmail.com">dbs@gmail.com</a>
</p>

<address>
    
</address>